@media (min-width: theme('screens.3xl')) {
  aside {
    position: fixed;
    min-width: 384px;
    max-width: 384px;
    left: calc(50vw + 512px);
    overflow-y: scroll;
    height: 100vh;
    font-size: 1rem;
    line-height: 1.5rem;
    white-space: pre-wrap;
    top: 0.9rem;
  }
}
