@media (min-width: theme('screens.md')) {
  .markdown h1 {
    background-color: theme('colors.red.300');
  }
  .markdown ul {
    line-height: 1.25rem;
  }
  .markdown ol {
    line-height: 1.25rem;
  }
}
